/* code by PrayogaBRD */
body {
    padding: 0;
    background-color: #eee;
}
/* bagian copyright */
.footer {
    clear: both;
    margin-top: 8px;
    background-color: #eee;
    padding: 8px 5px;
    font-family: Sans-Serif;
    font-size: 15px;
}
.footer a {
    text-decoration: none;
}
/* end copyright */